<style>
  .div{}h5{
    font-weight:80;
  }
  .row{
    padding-left:2rem;
  }
</style>
<% product ||= nil %>
<% if product.present? %>
  <div class="card mt-3" style="color:black;">
    <img class="card-img-top border-bottom" src="<%= product.image.url%>" alt="Card image cap" style="width:14.8rem; height:200px;">
    <div class="card-body" style="height:130px;">
      <h3 class="card-title" style="font-weight:600;"><%= product.title %></h3>
      <h5 class="card-text"><%= product.body %></h5>
      <p class="card-group-item pb-3"><%= number_with_delimiter(product.price) %>원</p>
    </div>
  </div>
<% end %>
