<div class="container" style="padding-top:1rem;">
  <div class = "colorlib-work">
    <div class = "row pt-4">
      <% @products.each_with_index do |product,index| %>
        <% if index % 4 == 0 %>
          <div class="row">
        <% end %>
          <div class="col-md-3" style="" >
            <%= link_to product_path(product) do %>
              <%= render 'shared/product', product: product %>
            <% end %>
          </div>
        <% if (@products.count == (index+1)) || (index % 4 == 3) %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
